main.landing {
  height: 100vh;
  position: relative;
  z-index: 1;
  direction: ltr;
}
main.landing::before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  height: 100%;
  top: 0;
  background-color: #00000059;
  z-index: -1;
}
.landing > .container > div {
  text-align: center;
  color: white;
  width: 50%;
}
.landing > .container > div h1 {
  text-transform: capitalize;
  font-size: 35px;
  font-family: "Oxanium", sans-serif;
  font-style: normal;
  white-space: nowrap;
  display: flex;
}
body.arabic .landing > .container > div h1 {
  flex-direction: row-reverse;
}
.landing > .container > div h1 span {
  margin: 0 5px;
}
.landing > .container > div p {
  width: 80%;
  line-height: 2;
  font-size: 20px;
}
.landing > .container > div > div {
  gap: 20px;
  transform: translateY(30px);
}
.landing > .container > div > div > a {
  width: 150px;
  letter-spacing: 2px;
}

.animation-image {
  animation: 1.5s linear infinite alternate img;
  height: 75%;
}
.animation-image svg {
  width: 100%;
  height: 100%;
}

main:not(.landing) {
  padding: 55px 0;
}
.about-company > div h2 {
  width: fit-content;
  color: var(--font-color);
}
.about-company > div h2 span {
  position: relative;
  padding-right: 10px;
  color: var(--main-color);
}
body.arabic .about-company > div h2 span {
  padding-left: 10px;
  padding-right: 0;
}
.about-company > div h2 span::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--body-color);
  position: absolute;
  left: 0;
  top: 0;
  border-left: solid 1px var(--main-color);
  animation: writer 4s infinite steps(22);
}
body.arabic .about-company > div h2 span::before {
  right: 0;
  border-left: none;
  border-right: solid 1px var(--main-color);
  animation: arabic-writer 4s infinite steps(22);
}
.about-company > div > .relative {
  margin: 40px 0;
  overflow: hidden;
}
.about-company > div h3 {
  margin: 10px 0;
  max-width: 90%;
  font-weight: 500;
  color: var(--font-color);
}
.about-company > div > .relative > div {
  padding-left: 30px;
  position: relative;
}
body.arabic .about-company > div > .relative > div {
  padding-left: 0px;
  padding-right: 30px;
}
.about-company > div > .relative > div:not(.before)::before {
  content: "";
  position: absolute;
  width: 100%;
  border-left: 1px var(--border-color) solid;
  height: 200%;
  top: 0;
  left: 0;
}
body.arabic .about-company > div > .relative > div:not(.before)::before {
  right: 0;
  border-right: 1px var(--border-color) solid;
  border-left: none;
}
.about-company > div > .relative > div.before {
  background-color: var(--body-color);
}
.about-company > div > .relative > div.before h2::before {
  border-left: solid 1px var(--border-color);
}
body.arabic .about-company > div > .relative > div.before h2::before {
  border-left: none;
  border-right: solid 1px var(--border-color);
}
.about-company > div > .relative > div h2 {
  padding-left: 20px;
  position: relative;
}
body.arabic .about-company > div > .relative > div h2 {
  padding-right: 20px;
  padding-left: 0px;
}
.about-company > div > .relative > div h2::before {
  content: "";
  width: 30px;
  height: 100%;
  position: absolute;
  left: -30px;
  top: -23px;
  border-radius: 0px 0px 0px 8px;
  border-bottom: solid 2px var(--border-color);
}
body.arabic .about-company > div > .relative > div h2::before {
  right: -30px;
  border-radius: 0px 0px 8px 0px;
}
.about-company > div > .relative > div h2::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: var(--main-color);
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
body.arabic .about-company > div > .relative > div h2::after {
  right: 0;
}
/* about end  */

.home-services .btn {
  margin: 20px auto;
  display: block;
}
/* services end  */

.home-project {
  margin-top: 30px;
}

.home-project > article {
  border-radius: 6px;
  overflow: hidden;
  border: solid 1px var(--border-color);
  background-color: var(--section-color);
  opacity: 0;
  transition: 1s linear;
}
.home-project > article img {
  max-height: 400px;
  width: 100%;
  object-fit: cover;
}
.home-project .project-animation {
  opacity: 1;
}

.home-project > article > .overlay > div {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #0000004b;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
  opacity: 0;
  z-index: -1;
}
.home-project > article > .overlay > div a {
  color: white;
  background: #00000012;
  padding: 10px;
  border-radius: 10px;
  font-size: 12px;
  text-transform: capitalize;
}
.home-project > article > .overlay > div a:hover {
  background: #00000024;
}
.home-project > article > .overlay:hover > div {
  opacity: 1;
  z-index: 1;
}
.home-project > article > .info {
  padding: 10px 20px;
  color: var(--font-color);
}
.home-project > article > .info > a {
  width: 80%;
  margin: 10px auto;
  display: block;
  text-align: center;
  color: var(--font-color);
  border: solid 1px var(--border-color);
  border-radius: 4px;
  padding: 5px;
}
.home-project > article > .info > a:hover {
  background-color: var(--body-color);
}
.home-project > article > .info i {
  margin-left: 10px;
}
a.home-projects {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}
/* end projects  */
.home-academy {
  gap: 30px;
}
.home-academy > div:not(.title) {
  flex: 50%;
}

.home-academy .academy-services > div {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  z-index: 1;
  position: relative;
  border: solid 2px var(--border-color);
  padding-right: 25px;
  overflow: hidden;
  background-color: var(--body-color);
  transform: translateX(-122%);
  transition: 0.7s linear;
}
body.arabic .home-academy .academy-services > div {
  transform: translateX(+122%);
}

.home-academy .academy-services > div.active-academy {
  transform: translateX(0px) !important;
}
.home-academy .academy-services > div:hover {
  border: solid 2px var(--body-color);
}
.home-academy .academy-services > div::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  opacity: 1;
  top: 50%;
  left: 0;
  opacity: 0;
  border-radius: 50%;
  transition: 0.7s;
  background-color: var(--border-color);
  z-index: -1;
}
.home-academy .academy-services > div:hover:before {
  transform: scale(45);
  opacity: 1;
}
.home-academy .academy-services > div > img {
  width: 40px;
  object-fit: contain;
  margin-right: 20px;
}
body.arabic .home-academy .academy-services > div > img {
  margin-right: 0px;
  margin-left: 20px;
}
.home-academy .academy-services > div h1 {
  color: var(--font-color);
}
.home-academy .academy-services > div p {
  color: var(--font-color);
}
.home-academy .svg {
  max-width: 40%;
  position: relative;
  transform: translateX(127%);
  transition: 1s linear;
}
body.arabic .home-academy .svg {
  transform: translateX(-127%);
}
.home-academy .svg-active {
  transform: translateX(0px) !important;
}

@keyframes writer {
  0%,
  100% {
    left: 0;
  }
  50% {
    left: 98%;
  }
}
@keyframes arabic-writer {
  0%,
  100% {
    right: 0;
  }
  50% {
    right: 98%;
  }
}

@keyframes img {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-45px);
  }
}
.opavity-animation {
  animation: 0.7s linear alternate opacity;
}
@keyframes opacity {
  0% {
    opacity: 0;
    transform: translateX(-60%);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.vanta-canvas {
  width: 100% !important;
  height: 100% !important;
}
.js-class {
  opacity: 0;
  transform: translateY(-15px);
  transition: 0.5s linear;
}
.slide-down-animation {
  opacity: 1;
  transform: translateY(0px);
  transition: 0.5s linear;
}
.flex-100 {
  flex: 100%;
}
.flex-100 div.svg {
  height: 100%;
  opacity: 0;
  transform: translateY(100%) !important;

  object-fit: contain;
  align-items: center;
}
.slide-up-animation div.svg {
  opacity: 1 !important;
  transform: translateY(0%) !important;
  transition: 0.7s linear;
  align-items: center;
}

.services-stable {
  transform: translateY(0px) !important;
  opacity: 1 !important;
}

@media (max-width: 720px) {
  .landing > .container > div {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .container {
    width: 85%;
  }
  .home-academy .svg {
    display: none;
  }
  .landing > .container > div {
    width: 100%;
  }
  .landing > .container > div h1 {
    font-size: 28px;
  }
  .landing > .container > div p {
    font-size: 18px;
  }
  .landing > .container > div > div > a {
    width: 130px;
    font-size: 13px;
  }
  .about-company {
    flex-wrap: wrap;
  }
  .animation-image {
    height: 100%;
  }

  .about-company > div > .relative > div h2 {
    font-size: 20px;
  }
  .about-company > div > .relative > div h2::before {
    top: -20px;
  }
  .about-company > div h3 {
    font-size: 16px;
  }
  .home-project > article > .info h1 {
    font-size: 20px;
  }
  .home-project > article > .info p {
    font-size: 15px;
  }
  .home-project > article > .info > a {
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  .container {
    width: 92%;
  }

  .home-academy .academy-services > div.active-academy {
    flex-direction: column;
  }
  .home-academy .academy-services > div.active-academy > img {
    margin: 10px auto;
  }

  .home-academy .academy-services > div h1 {
    font-size: 20px;
    text-align: center;
  }
  .home-academy .academy-services > div p {
    font-size: 15px;
    text-align: center;
  }
  .landing > .container > div h1 {
    font-size: 22px;
  }
  .landing > .container > div p {
    font-size: 16px;
  }
  .landing > .container > div > div > a {
    width: 120px;
  }
  .about-company > div > .relative > div h2 {
    font-size: 18px;
  }
  .about-company > div > .relative > div h2::after {
    width: 8px;
    height: 8px;
    top: 47%;
  }
  .about-company > div h3 {
    font-size: 14px;
  }
  header .logo img {
    width: 35px;
  }
  .aside-overlay {
    height: calc(100vh - 50px);
    top: 50px;
  }
}

@media (max-width: 500px) {
  .container {
    width: 95%;
  }
  .about-company > div > .relative > div h2 {
    font-size: 16px;
    padding-left: 15px;
  }
  .about-company > div h3 {
    font-size: 12px;
  }
  .landing > .container > div h1 {
    font-size: 18px;
  }
  .landing > .container > div p {
    font-size: 14px;
  }
  .landing > .container > div > div > a {
    width: 100px;
    font-size: 10px;
  }
  .landing > .container > div > div {
    transform: translateY(20px);
  }
  .about-company > div > .relative > div h2::after {
    width: 6px;
    height: 6px;
    top: 50%;
  }
  .about-company > div > .relative > div h2::before {
    top: -16px;
    left: -20px;
    width: 20px;
  }
  .about-company > div > .relative > div {
    padding-left: 20px;
  }
  .home-project > article > .info h1 {
    font-size: 18px;
  }
  .home-project > article > .info p {
    font-size: 13px;
  }
  .home-academy .academy-services > div h1 {
    font-size: 18px;
  }
  .home-academy .academy-services > div p {
    font-size: 13px;
  }
}

@media (max-width: 380px) {
  .landing > .container > div h1 {
    font-size: 15px;
  }
  .landing > .container > div p {
    font-size: 13px;
  }
  .about-company > div > .relative > div h2 {
    font-size: 14px;
  }
  .home-academy .academy-services > div h1 {
    font-size: 16px;
  }
  .home-academy .academy-services > div p {
    font-size: 11px;
  }
}
