.academy-page .flex-1 * {
  font-weight: 500;
  color: var(--font-color);
}
.academy-page .flex-1 h1.title {
  line-height: 1;
  letter-spacing: 10px;
  overflow: visible;
  font-size: 30px;
}

.academy-page .mission {
  width: 70%;
  margin-top: 50px;
}

.academy-page .mission h2 {
  padding-left: 20px;
  position: relative;
  letter-spacing: 1px;
  text-transform: capitalize;
  color: var(--font-color);
}

.academy-page .mission h2::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background-color: var(--main-color);
  border-radius: 50%;
}

.academy-page .mission p {
  padding-left: 25px;
  margin-bottom: 10px;
  color: var(--font-color);
  opacity: 0.9;
  font-weight: 550;
}

.academy-page .mission p.count {
  counter-increment: custom-counter;
  position: relative;
  padding-left: 50px;
}
.academy-page .mission p.count::before {
  content: counter(custom-counter) ".";
  position: absolute;
  left: 25px;
  font-weight: bold;
}

.academy-contact > h3 {
  font-weight: 600;
  margin-bottom: 30px;
  max-width: 60%;
  color: var(--font-color);
}
.academy-card {
  border: solid 2px var(--border-color);
  border-radius: 6px;
  overflow: hidden;
}
.academy-card img {
  max-height: 300px;
  width: 100%;
  object-fit: cover;
  display: flex;
}
.academy-card > div {
  padding: 10px 20px;
  background-color: var(--section-color);
}

.academy-card > div h1 {
  letter-spacing: 1px;
  text-transform: capitalize;
  color: var(--font-color);
}

.academy-card > div p {
  color: var(--font-color);
  opacity: 0.8;
  margin-bottom: 10px;
}
.academy-card > div a {
  text-transform: capitalize;
  color: white;
  background-color: #4c4c4c;
  padding: 6px;
  width: 100%;
  display: block;
  border-radius: 6px;
  text-align: center;
  margin: 10px auto;
}
.academy-card > div a:hover {
  background-color: var(--main-color);
}
.contact-comp .info > div:first-child {
  flex: 1;
}

.contact-comp .info > div:first-child i {
  color: #666;
  margin-right: 10px;
}
.contact-comp .info > div h3 {
  font-weight: 600;
  color: var(--font-color);
  line-height: 1;
  text-transform: capitalize;
}
.contact-comp .info > div h3.title {
  margin-bottom: 20px;
  font-weight: 700;
}
.contact-comp .info > div a {
  color: var(--font-color);
  opacity: 0.9;
}
.contact-comp .info > div:first-child article {
  margin-bottom: 20px;
}

.contact-comp .info > div:first-child > a {
  color: white;
}
