* {
  transition: 0.4s;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: cairo;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
.flex {
  display: flex;
}
.wrap {
  flex-wrap: wrap;
}
.flex-1 {
  flex: 1;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 80%;
}

.between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.w-100 {
  width: 100%;
}
input {
  caret-color: var(--var-color);
}
.relative {
  position: relative;
}
.flex-start {
  display: flex;
  justify-content: center;
}
h1 > span.inside-span {
  color: var(--main-color);
}
.section-color {
  background-color: var(--section-color);
}
body {
  --font-color: black;
  --body-color: #eee;
  --main-color: #07c1eb;
  --border-color: #83838340;
  --hover-color: #105867;
  --section-color: #ddd;
}
body.dark {
  --font-color: white;
  --body-color: #181e2c;
  --section-color: #212737;
  --border-color: #4c4c4c;
}
.flex-direction {
  flex-direction: column;
}
