* {
  transition: 0.4s;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: cairo;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
.flex {
  display: flex;
}
.wrap {
  flex-wrap: wrap;
}
.flex-1 {
  flex: 1;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 80%;
}

.between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.w-100 {
  width: 100%;
}
input {
  caret-color: var(--var-color);
}
.relative {
  position: relative;
}
.flex-start {
  display: flex;
  justify-content: center;
}
h1 > span.inside-span {
  color: var(--main-color);
}
.section-color {
  background-color: var(--section-color);
}
body {
  --font-color: black;
  --body-color: #fff;
  --main-color: #07c1eb;
  --border-color: #83838340;
  --hover-color: #1088a3;
  --section-color: #f2f2f2;
  background-color: var(--body-color);
}
body.dark {
  --font-color: white;
  --body-color: #181b20;
  --section-color: #22252c;
  --border-color: #4c4c4c;
}
.flex-direction {
  flex-direction: column;
}
h1.title {
  -webkit-text-fill-color: var(--body-color);
  -webkit-text-stroke: 1px var(--main-color);
  position: relative;
  overflow: hidden;
  width: fit-content;
  letter-spacing: 1px;
  font-size: 40px;
  text-transform: capitalize;
}
h1.title::before {
  content: attr(data-fill);
  position: absolute;
  left: 0;
  width: 0;
  top: 0px;
  -webkit-text-fill-color: var(--main-color);
  transition: 1s;
  overflow: hidden;
  white-space: nowrap;
}
h1.title:hover::before {
  width: 100%;
}
.section-color h1.title {
  -webkit-text-fill-color: var(--section-color);
}
div.title {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
div.title::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  top: 50%;
  background-color: var(--border-color);
}
div.title h1.title {
  padding: 0 15px;
}
div.title h1.title::before {
  left: 15px;
}
.btn,
.btn2 {
  padding: 10px;
  width: fit-content;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  border: solid 1px var(--main-color);
  color: var(--main-color);
  letter-spacing: 1px;
  text-transform: capitalize;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.btn::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: var(--main-color);
  z-index: -1;
  transition: 0.4s;
  opacity: 0;
}
.btn:hover {
  color: white;
  border: solid 1px transparent;
}
.btn:hover::before {
  height: 100%;
  opacity: 1;
}
.btn2 {
  border: none;
  background-color: var(--main-color);
  color: white;
}
.btn2:hover {
  background-color: var(--hover-color);
}
.body-color {
  background-color: var(--body-color);
}
.d-block {
  display: block;
}
